---
import Collapse from '@/components/Collapse.astro'
import Timeline from '@/components/Timeline.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import Comment from '@/components/Comment.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Button from '@/components/Button.astro'
import Substats from '@/components/about/Substats.astro'
import Spoiler from '@/components/Spoiler.astro'

const headings = [
  {
    depth: 2,
    slug: 'general-talk',
    text: 'General Talk'
  },
  {
    depth: 2,
    slug: 'about-blog',
    text: 'About Blog and Me'
  }
]
---

<PageLayout title='About' headings={headings} info='/about'>
  <p>Developer / Designer / IEEE PELS Student Member</p>
  <p>
    This is Eric Yang. He is a senior undergraduate student in Tsinghua University, major in 
    Electrical Engineering, and next year he will start as a master candidate of Electrical Engineering. He has 
    enthusiasm for math and statisics. In fact, he is pursuing a minor in statisics.
    He likes exploring new technologies and working on innovative projects.
  </p>
  <p>My motto: <Spoiler>顺其自然，一切如故</Spoiler></p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />
  <!-- general-talk -->
  <h2 id='general-talk'>General Talk</h2>
  <ul>
    <li>Fan of Minecraft</li>
    <li>Like films especially animate films. Favorite movie studios are Pixar and DreamWork</li>
    <li>An amateur in computer programming and software development</li>
  </ul>

  <!-- about-blog -->
  <h2 id='about-blog'>Timeline</h2>
  <Timeline
    events={[
      {
        date: '2022-02-20',
        content:
          'The blog was built🥳'
      },
      {
        date: '2024-09-30',
        content:
          'I was admitted as a fulltime master in Tsinghua University. Three more years here!😇'
      },
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>
      Framework & Theme：<a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/theme-astro-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting：<a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD：<a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
  </ul>
</PageLayout>