---
import Button from '@/components/Button.astro'
import Collapse from '@/components/Collapse.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { Image } from 'astro:assets'
import wechat from '@/assets/wechat-qrcode.jpg'
import alipay from '@/assets/alipay-qrcode.jpg'

const headings = [
  {
    depth: 2,
    slug: 'theme',
    text: 'Theme'
  },
  {
    depth: 2,
    slug: 'programs',
    text: 'Programs'
  },
  {
    depth: 2,
    slug: 'learnings',
    text: 'Learnings'
  },
  {
    depth: 2,
    slug: 'others',
    text: 'Others'
  },
  {
    depth: 2,
    slug: 'gpg-signature',
    text: 'GPG Signature'
  },
  {
    depth: 2,
    slug: 'sponsorship',
    text: 'Sponsorship'
  }
]
---

<PageLayout title='Projects' headings={headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Cyberyzy'
      alt='github activities'
      inferSize
      loading='eager'
      decoding='async'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: 'Hector texteditor',
        description: 'Telegram Bot for Arknights',
        links: [
          { type: 'github', href: 'https://github.com/Cyberyzy/hecto-windows-edition' },
        ]
      }
    ]}
  />

<script is:inline type='module' data-astro-rerun>
  import { pageviewCount } from 'https://unpkg.com/@waline/client@v3/dist/pageview.js'

  pageviewCount({
    serverURL: document.querySelector('meta[name="waline-server-url"]').getAttribute('content'),
    path: window.location.pathname
  })
</script>
