---
import Button from '@/components/Button.astro'
import Collapse from '@/components/Collapse.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { Image } from 'astro:assets'
import wechat from '@/assets/wechat-qrcode.jpg'
import alipay from '@/assets/alipay-qrcode.jpg'

const headings = [
  {
    depth: 2,
    slug: 'programs',
    text: 'Programs'
  },
  {
    depth: 2,
    slug: 'learnings',
    text: 'Learnings'
  },
]
---

<PageLayout title='Projects' headings={headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Cyberyzy'
      alt='github activities'
      inferSize
      loading='eager'
      decoding='async'
    />
  </p>
  <p>
    Display some toy projects and record my progress.
  </p>

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    project={[
      {
        name: 'Hector texteditor',
        description: 'A tiny command-line based texteditor in rust🦀',
        links: [
          { type: 'github', href: 'https://github.com/Cyberyzy/hecto-windows-edition' },
        ]
      }
    ]}
  />

  <h2 id='programs'>Learning</h2>
  <ProjectSection
    project={[
      {
        name: 'CS61B',
        description: 'Now I'm learning data structure in class CS61B',
        links: [
          { type: 'github', href: 'https://er1zy.top' },
        ]
      }
    ]}
  />
<script is:inline type='module' data-astro-rerun>
  import { pageviewCount } from 'https://unpkg.com/@waline/client@v3/dist/pageview.js'

  pageviewCount({
    serverURL: document.querySelector('meta[name="waline-server-url"]').getAttribute('content'),
    path: window.location.pathname
  })
</script>
